.root {
  width: 3.75rem;
  height: 6.67rem;
  //noinspection CssUnknownTarget
  background: url("/img/fast_login_background.png");
  display: flex;
  align-items: center;

  .container {
    width: 3.75rem;
    //background-color: blanchedalmond;

    .form {
      .button {
        width: 2.25rem;
      }
    }
  }
}
