* {
  margin: 0;
  padding: 0;
}

/**
  当内容宽度(网页宽度)等于设备宽度时
    -> 100vw等于设备宽度
  即, 任意设备的100vw都是设备宽度
    -> 90vw就是设备90%的宽度
    -> 80vw就是设备80%的宽度
    ...
    -> 10vw就是设备10%的宽度

  假设
    设备宽度为300px 那么 100vw就是300px
    设备宽度为350px 那么 100vw就是350px
    设备宽度为400px 那么 100vw就是400px
  即, 我们使用vw这个单位总是能在任意设备按照比例设置元素宽度(高度也行)

  但是总是使用vw单位不是很好开发(因为总是需要将设计稿的宽度转换到百分比, 然后使用vw单位)
  有没有一种办法, 能够免去转换或者少负担的转换为vw单位的方法

  这里使用了一种折中方案, 使用rem
  rem最终也会转换为px单位
  而具体1rem等于多少px, rem总是根据`根字体大小`确定1rem到底等于多少px的
    *`根字体大小`: 指的是网页html标签的字体大小
    举例:
      -> html的字体大小为20px, 那么
        * 1rem === 20px
        * 0.5rem === 10px
        * 2rem === 40px
      -> html的字体大小为30px, 那么
        * 1rem === 30px
        * 0.5rem === 15px
        * 2rem === 60px

   根据以上`rem`的知识, 我们可以知道, 1rem具体等于多少px总是根据`根字体大小`确定 **并且**, 就算网页初次渲染后后, 之后当**根字体大小改变时, 1rem等于多少px**也是相对变化的
      * 具体如何在`运行时`更改根字体大小, 一般使用`js`可以直接控制

   当然, 我们不需要`运行时`更改字体大小, 我们为了让相同的rem在不同的设备依然按照比例显示, 只需要在首次渲染时更改`根字体大小`为**最初设计稿的比例**的值即可

   为了实现这一定, 有很多种方法, 我们这次采用`vw + rem`的方案

   根据以上我们得出的信息:
      1. 我们的网页宽度总是等于设备宽度
      2. vw单位总当前网页的比例
      3. rem总是根据`根字体大小`计算实际显示在屏幕上的px
   我们要实现的效果: 根据某个屏幕的大小, 或者根据设计稿大小制作网页, 并且在不同app自动按比例缩放
   所以我们可以使用rem作为尺寸单位, 然后在不同尺寸设备设置`根字体大小`即可
   例如:
      屏幕宽度为200px时, 根字体大小为20px
        -> 屏幕宽度为400px是, 根字体应当设置为40px(因为400 / 200 = 2, 20px * 2 = 40px)

   但是这样太麻烦了, 每一个尺寸都为其单独设置, 我们能不能只在某个尺寸的设备(设计图)进行开发, 然后在不同宽度的屏幕上`根字体大小`自动变为我们开发时设备(设计图)的倍数
   这样我们在保持使用`rem`作为大小单位的值不用变, 自动按照比例缩放

   要实现这个操作有两种方法:
      1. 在页面初始时, 使用js获取屏幕宽度, 然后将屏幕宽度直接设置为`根字体大小`(或者其比例宽度也行)
      2. 直接将`根字体大小`使用`vw`作为单位
          因为`vw`本身就代表`网页`宽度的比例大小, 所以正好符合我们的需求: 不同宽度的屏幕上`根字体大小`自动变为我们开发时设备(设计图)的倍数(相当于开发时设备宽度或者设计图宽度就是1倍开发, 设计图或者设备宽度是多少我们就按照1倍去写. 然后在不同设备其就会自动变成应当的倍数)
          但是也产生新的问题: `根字体大小`到底取`多少vw`合适?
            假设当前开发屏幕为375px, 那么在当前设备下
              取100vw: 那么1rem就等于375px, 太大了, 如果我们有一个盒子的宽度在设计稿上是20px, 那么就需要计算, `20px占375px`的`比例`是多少, 那个值就是我们需要输入的rem数据, 即 25 / 375 = 0.0666666rem. 计算不方便
              取1vw: 那么1rem就等于3.75px, 太小了, 而且有零有整, 最终还是不好计算
              ....
              -> 我们重新梳理一下, 在当先屏幕(设计图)下, 100vw = 375px
                      我们能不能让xvw = 1px?
                        -> 100vw / 375 = 375px / 375
                           -> 0.2666666vw = 1px
                      !!!! 此时将`0.2666666vw`作为`根字体大小`已经非常好用了, 因为在当前屏幕尺寸下
                        -> 1rem = 0.2666666vw = 1px
                        !!!! 也就是说, 我们现在可以直降将rem当成px来用了!!!!!
                      到此, 所有的演算就完成了
                        但是观察下方`根字体大小`并不是`0.2666666vw`, 而是`26.666666vw`, 为什么这样设置?
                        **并不是所有人都觉得`1rem = 1px`是方便的, 有些人不喜欢`太大的数字`, 比如在当前屏幕(设计图)下一个200px的盒子, 他觉得写成`200rem`太大**
                          所以其想吧`rem`写的小一点, 那么相当`rem`写的小一点就需要更改`根字体大小了`
                            -> 目前: 1rem = 0.2666666vw = 1px
                            -> 那么  200rem = 53.33332vw = 200px

                            -> 假设: 1rem = 26.66666vw = 100px
                            -> 那么  2rem =  53.33332vw = 200px

                            所以对比上下, 同样是最终宽度是200px, 调整vw基准值可以使rem更小并且达到的宽度

  至此, 实现了目标
 */
html {
  font-size: 26.666666vw;
}

/**
  设置antd-mobile的主题, 请参照文档设置: https://mobile.ant.design/zh/guide/theming
  注：为什么要写两个重复的 :root？
  由于 antd-mobile 中的主题变量也是在 :root 下声明的，所以在有些情况下会由于优先级的问题无法成功覆盖。通过 :root:root 可以显式地让你所写内容的优先级更高一些，从而确保主题变量的成功覆盖。
  */
:root:root {
  /*设置主要颜色*/
  --adm-color-primary: #1ab394;
}
